# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
backups/root/
backups/vagrant/
bash-programming-course/shell-scripting-course/debugging/practice-exercises/PracticeExercises-Debugging.pdf
